.center-text-card {
    min-height: 220px;
    min-width: 220px;
    max-width: 220px;
    max-height: 220px;
}

.center-text-card:hover {
    transform: scale(1.05);
}

.center-text-card__bold-text {
    font-size: 2.7rem;
    text-shadow: 0 .0625rem rgba(0,0,0,.85)!important;
}

.center-text-card__normal-text {
    font-size: 2.7rem;
    text-shadow: 0 .0625rem rgba(0,0,0,.85)!important;
}